# Imports

In [4]:
import pandas as pd
from bs4 import BeautifulSoup
import os
import re

# Extract Readings From HTML

In [8]:
# Assuming `html` contains the raw HTML you extracted earlier
def extract_table(html):
    soup = BeautifulSoup(html, 'html.parser')

    # Find the table in the HTML (by id, class, etc.)
    table = soup.find('table', {'id': '__BVID__59'})

    # Extract the table headers
    headers = [th.get_text(strip=True) for th in table.find_all('th')]

    # Extract the rows of the table
    rows = []
    for tr in table.find_all('tr')[1:]:  # Skip the header row
        cols = tr.find_all('td')
        row = [col.get_text(strip=True) for col in cols]
        rows.append(row)

    # Create a DataFrame
    df = pd.DataFrame(rows, columns=headers)
    return df

In [ ]:
big_table = pd.DataFrame()

# Loop through all the files in the "data" directory
for file in os.listdir("data"):
    if file.endswith(".html"):  # Ensure we're only processing HTML files
        with open(f"data/{file}", "r") as f:
            html = f.read()
            df = extract_table(html)
            
            # Concatenate the current dataframe to the big table
            big_table = pd.concat([big_table, df], ignore_index=True)

In [ ]:
big_table

,No.,วันที่,ช่วงเวลา,02t,03t,11t,12t,50t,52t,53t,...,bkp85t,19t,o63,bkp90t,bkp88t,bkp86t,bkp94t,bkp84t,bkp83t,bkp63t
0,1,2025-01-19,01:00,55.5,51.7,47.1,44.2,50.1,54.5,49.9,...,62.1,55.7,54.1,50.1,66.9,65.2,48.2,52.7,51,49.6
1,2,2025-01-19,02:00,60.3,56.6,48.1,48.1,54,60.7,55.5,...,63.8,45.9,55,52.6,63.1,64.1,51.5,55.2,52,54.7
2,3,2025-01-19,03:00,57.9,58.1,46.2,45.8,55.3,56,56.7,...,69.8,40.5,47.3,54.4,68,78.9,56.4,58.8,49,56.9
3,4,2025-01-19,04:00,55.2,55.3,40.3,43.1,48.6,55.1,45.5,...,77.6,43.4,45.2,53.2,69.1,73.7,50.8,60.2,45,56.1
4,5,2025-01-19,05:00,60.7,60.3,40.9,44.5,47.9,58.4,45.1,...,92,50.8,53.1,70.5,72,74.6,49.1,76.5,41,48.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,176,2025-01-26,08:00,44.5,44.9,40.8,39.8,48.5,43.2,49.6,...,53,37.9,42.6,52.6,52,39.7,53.1,45.1,43,45.8
730,177,2025-01-26,09:00,48.6,48.3,46,44.4,47.2,48.9,51.8,...,53.3,45.7,47.7,35.6,51,37.4,53,43.1,51,49.8
731,178,2025-01-26,10:00,47.7,47.3,47.7,46.8,49.4,47,52.6,...,55.1,44.9,48.9,32.6,49,38.7,52,52.5,52,46.2
732,179,2025-01-26,11:00,49.7,49.5,53.9,53.5,53.5,47.7,54.9,...,56.5,38.1,53.9,36.4,50.7,39.9,48.5,39.7,49,46.9
733,180,2025-01-26,12:00,45.1,45.6,49.1,48.8,52.6,40,52.1,...,59.7,38.2,48.2,36.3,37.1,39.4,52.4,45.5,46,49.8

In [ ]:
df = big_table.copy()
df["No."] = df["No."].astype(int)
df = df.set_index("No.")
df.sort_index(inplace=True)
df

,วันที่,ช่วงเวลา,02t,03t,11t,12t,50t,52t,53t,54t,...,bkp85t,19t,o63,bkp90t,bkp88t,bkp86t,bkp94t,bkp84t,bkp83t,bkp63t
No.,,,,,,,,,,,,,,,,,,,,,
1,2025-01-19,01:00,55.5,51.7,47.1,44.2,50.1,54.5,49.9,44.9,...,62.1,55.7,54.1,50.1,66.9,65.2,48.2,52.7,51,49.6
2,2025-01-19,02:00,60.3,56.6,48.1,48.1,54,60.7,55.5,55.1,...,63.8,45.9,55,52.6,63.1,64.1,51.5,55.2,52,54.7
3,2025-01-19,03:00,57.9,58.1,46.2,45.8,55.3,56,56.7,46.8,...,69.8,40.5,47.3,54.4,68,78.9,56.4,58.8,49,56.9
4,2025-01-19,04:00,55.2,55.3,40.3,43.1,48.6,55.1,45.5,40.5,...,77.6,43.4,45.2,53.2,69.1,73.7,50.8,60.2,45,56.1
5,2025-01-19,05:00,60.7,60.3,40.9,44.5,47.9,58.4,45.1,41.4,...,92,50.8,53.1,70.5,72,74.6,49.1,76.5,41,48.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,2025-02-18,10:00,25.5,27.2,24.9,24.9,28.7,25,29.9,28.7,...,26.3,24.3,24.9,27.1,21,20.2,17.1,52.6,25,21.9
731,2025-02-18,11:00,28.1,26.7,21.1,21.9,25.4,27.5,24.2,27.3,...,27.4,23.5,22.5,19.8,28.8,16.6,17,22.2,18,29.5
732,2025-02-18,12:00,,24.3,20.2,20.9,25,25.1,24.3,24.1,...,26.5,23.7,20.6,,25.1,35.4,16.1,22.1,20,28.1
733,2025-02-18,13:00,,,19.7,19.2,22.8,27.9,22.9,22.5,...,39.4,21.8,19.7,32.6,35.8,25.2,25.7,21,24,34.5
734,2025-02-18,14:00,27.2,,43.6,16.6,,23.8,27.1,38.3,...,30,22.5,,17.9,29.1,19.7,19.1,30.2,30,28.5

In [12]:
df['datetime'] = pd.to_datetime(df['วันที่'] + ' ' + df['ช่วงเวลา'])
df = df.set_index('datetime')
df = df.drop(columns=["No.", "วันที่", "ช่วงเวลา"])
df

,02t,03t,11t,12t,50t,52t,53t,54t,59t,61t,...,bkp85t,19t,o63,bkp90t,bkp88t,bkp86t,bkp94t,bkp84t,bkp83t,bkp63t
datetime,,,,,,,,,,,,,,,,,,,,,
2025-01-19 01:00:00,55.5,51.7,47.1,44.2,50.1,54.5,49.9,44.9,36.9,41.1,...,62.1,55.7,54.1,50.1,66.9,65.2,48.2,52.7,51.0,49.6
2025-01-19 02:00:00,60.3,56.6,48.1,48.1,54.0,60.7,55.5,55.1,37.4,47.4,...,63.8,45.9,55.0,52.6,63.1,64.1,51.5,55.2,52.0,54.7
2025-01-19 03:00:00,57.9,58.1,46.2,45.8,55.3,56.0,56.7,46.8,40.9,44.9,...,69.8,40.5,47.3,54.4,68.0,78.9,56.4,58.8,49.0,56.9
2025-01-19 04:00:00,55.2,55.3,40.3,43.1,48.6,55.1,45.5,40.5,45.2,40.1,...,77.6,43.4,45.2,53.2,69.1,73.7,50.8,60.2,45.0,56.1
2025-01-19 05:00:00,60.7,60.3,40.9,44.5,47.9,58.4,45.1,41.4,47.2,41.1,...,92.0,50.8,53.1,70.5,72.0,74.6,49.1,76.5,41.0,48.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-02-18 10:00:00,25.5,27.2,24.9,24.9,28.7,25.0,29.9,28.7,14.0,24.2,...,26.3,24.3,24.9,27.1,21.0,20.2,17.1,52.6,25.0,21.9
2025-02-18 11:00:00,28.1,26.7,21.1,21.9,25.4,27.5,24.2,27.3,14.9,21.0,...,27.4,23.5,22.5,19.8,28.8,16.6,17.0,22.2,18.0,29.5
2025-02-18 12:00:00,NaN,24.3,20.2,20.9,25.0,25.1,24.3,24.1,15.2,20.9,...,26.5,23.7,20.6,NaN,25.1,35.4,16.1,22.1,20.0,28.1
2025-02-18 13:00:00,NaN,NaN,19.7,19.2,22.8,27.9,22.9,22.5,15.5,19.2,...,39.4,21.8,19.7,32.6,35.8,25.2,25.7,21.0,24.0,34.5
2025-02-18 14:00:00,27.2,NaN,43.6,16.6,NaN,23.8,27.1,38.3,16.5,23.9,...,30.0,22.5,NaN,17.9,29.1,19.7,19.1,30.2,30.0,28.5

In [ ]:
df.to_csv("data.csv")

In [5]:
df = pd.read_csv("data.csv", index_col=0, parse_dates=True)
df

,02t,03t,11t,12t,50t,52t,53t,54t,59t,61t,...,bkp85t,19t,o63,bkp90t,bkp88t,bkp86t,bkp94t,bkp84t,bkp83t,bkp63t
datetime,,,,,,,,,,,,,,,,,,,,,
2025-01-19 01:00:00,55.5,51.7,47.1,44.2,50.1,54.5,49.9,44.9,36.9,41.1,...,62.1,55.7,54.1,50.1,66.9,65.2,48.2,52.7,51.0,49.6
2025-01-19 02:00:00,60.3,56.6,48.1,48.1,54.0,60.7,55.5,55.1,37.4,47.4,...,63.8,45.9,55.0,52.6,63.1,64.1,51.5,55.2,52.0,54.7
2025-01-19 03:00:00,57.9,58.1,46.2,45.8,55.3,56.0,56.7,46.8,40.9,44.9,...,69.8,40.5,47.3,54.4,68.0,78.9,56.4,58.8,49.0,56.9
2025-01-19 04:00:00,55.2,55.3,40.3,43.1,48.6,55.1,45.5,40.5,45.2,40.1,...,77.6,43.4,45.2,53.2,69.1,73.7,50.8,60.2,45.0,56.1
2025-01-19 05:00:00,60.7,60.3,40.9,44.5,47.9,58.4,45.1,41.4,47.2,41.1,...,92.0,50.8,53.1,70.5,72.0,74.6,49.1,76.5,41.0,48.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-02-18 10:00:00,25.5,27.2,24.9,24.9,28.7,25.0,29.9,28.7,14.0,24.2,...,26.3,24.3,24.9,27.1,21.0,20.2,17.1,52.6,25.0,21.9
2025-02-18 11:00:00,28.1,26.7,21.1,21.9,25.4,27.5,24.2,27.3,14.9,21.0,...,27.4,23.5,22.5,19.8,28.8,16.6,17.0,22.2,18.0,29.5
2025-02-18 12:00:00,NaN,24.3,20.2,20.9,25.0,25.1,24.3,24.1,15.2,20.9,...,26.5,23.7,20.6,NaN,25.1,35.4,16.1,22.1,20.0,28.1
2025-02-18 13:00:00,NaN,NaN,19.7,19.2,22.8,27.9,22.9,22.5,15.5,19.2,...,39.4,21.8,19.7,32.6,35.8,25.2,25.7,21.0,24.0,34.5
2025-02-18 14:00:00,27.2,NaN,43.6,16.6,NaN,23.8,27.1,38.3,16.5,23.9,...,30.0,22.5,NaN,17.9,29.1,19.7,19.1,30.2,30.0,28.5

In [ ]:
store = pd.HDFStore("data.h5")
store.put('d1', df, format='table', data_columns=True)

In [12]:
store["d1"]

,02t,03t,11t,12t,50t,52t,53t,54t,59t,61t,...,bkp85t,19t,o63,bkp90t,bkp88t,bkp86t,bkp94t,bkp84t,bkp83t,bkp63t
datetime,,,,,,,,,,,,,,,,,,,,,
2025-01-19 01:00:00,55.5,51.7,47.1,44.2,50.1,54.5,49.9,44.9,36.9,41.1,...,62.1,55.7,54.1,50.1,66.9,65.2,48.2,52.7,51.0,49.6
2025-01-19 02:00:00,60.3,56.6,48.1,48.1,54.0,60.7,55.5,55.1,37.4,47.4,...,63.8,45.9,55.0,52.6,63.1,64.1,51.5,55.2,52.0,54.7
2025-01-19 03:00:00,57.9,58.1,46.2,45.8,55.3,56.0,56.7,46.8,40.9,44.9,...,69.8,40.5,47.3,54.4,68.0,78.9,56.4,58.8,49.0,56.9
2025-01-19 04:00:00,55.2,55.3,40.3,43.1,48.6,55.1,45.5,40.5,45.2,40.1,...,77.6,43.4,45.2,53.2,69.1,73.7,50.8,60.2,45.0,56.1
2025-01-19 05:00:00,60.7,60.3,40.9,44.5,47.9,58.4,45.1,41.4,47.2,41.1,...,92.0,50.8,53.1,70.5,72.0,74.6,49.1,76.5,41.0,48.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-02-18 10:00:00,25.5,27.2,24.9,24.9,28.7,25.0,29.9,28.7,14.0,24.2,...,26.3,24.3,24.9,27.1,21.0,20.2,17.1,52.6,25.0,21.9
2025-02-18 11:00:00,28.1,26.7,21.1,21.9,25.4,27.5,24.2,27.3,14.9,21.0,...,27.4,23.5,22.5,19.8,28.8,16.6,17.0,22.2,18.0,29.5
2025-02-18 12:00:00,NaN,24.3,20.2,20.9,25.0,25.1,24.3,24.1,15.2,20.9,...,26.5,23.7,20.6,NaN,25.1,35.4,16.1,22.1,20.0,28.1
2025-02-18 13:00:00,NaN,NaN,19.7,19.2,22.8,27.9,22.9,22.5,15.5,19.2,...,39.4,21.8,19.7,32.6,35.8,25.2,25.7,21.0,24.0,34.5
2025-02-18 14:00:00,27.2,NaN,43.6,16.6,NaN,23.8,27.1,38.3,16.5,23.9,...,30.0,22.5,NaN,17.9,29.1,19.7,19.1,30.2,30.0,28.5

In [ ]:
store.close()

# Get all the weather station address

In [ ]:
# Read the HTML file
with open('data/27.html', 'r', encoding='utf-8') as file:
      content = file.read()

soup = BeautifulSoup(content, 'html.parser')

# Find all <text> tags inside <g> elements
text_elements = soup.find_all("text")

# Updated regex to capture station codes like "bkp100t", "22t", etc.
pattern = re.compile(r"([a-zA-Z]*\d+[a-zA-Z]*) \((.+)\)")

data = []

for text in text_elements:
    match = pattern.search(text.text.strip())
    if match:
        station_code = match.group(1)
        thai_address = match.group(2)
        data.append((station_code, thai_address))

# Output the extracted list
print(data)

[('02t', 'มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา แขวงหิรัญรูจี เขตธนบุรี, กรุงเทพฯ'), ('03t', 'ริมถนนทางหลวงหมายเลข 3902  ริมถนนกาญจนาภิเษก เขตบางขุนเทียน, กรุงเทพฯ'), ('11t', 'การเคหะชุมชนห้วยขวาง  แขวงดินแดง เขตดินแดง, กรุงเทพฯ'), ('12t', 'โรงเรียนนนทรีวิทยา  แขวงช่องนนทรี เขตยานนาวา, กรุงเทพฯ'), ('50t', 'โรงพยาบาลจุฬาลงกรณ์ ริมถนนพระราม 4 เขตปทุมวัน, กรุงเทพฯ'), ('52t', 'การไฟฟ้าย่อยธนบุรี  ริมถนนอินทรพิทักษ์ เขตธนบุรี, กรุงเทพฯ'), ('53t', 'สถานีตำรวจนครบาลโชคชัย  ริมถนนลาดพร้าว เขตวังทองหลาง, กรุงเทพฯ'), ('54t', 'การเคหะชุมชนดินแดง  ริมถนนดินแดง เขตดินแดง, กรุงเทพฯ'), ('59t', 'กรมประชาสัมพันธ์ แขวงพญาไท เขตพญาไท, กรุงเทพฯ'), ('61t', 'โรงเรียนบดินทรเดชา (สิงห์ สิงหเสนี)  แขวงพลับพลา เขตวังทองหลาง, กรุงเทพฯ'), ('bkp100t', 'สำนักงานเขตบึงกุ่ม แขวงคลองกุ่ม เขตบึงกุ่ม'), ('bkp101t', 'สำนักงานเขตคลองสามวา เขตคลองสามวา, กรุงเทพฯ'), ('bkp102t', 'สำนักงานเขตจอมทอง เขตจอมทอง, กรุงเทพฯ'), ('bkp103t', 'สำนักงานเขตบางพลัด ริมถนนจรัญสนิทวงศ์ เขตบางพลัด, กรุงเทพฯ'), ('bkp104t', 'สำนักงานเขตบางแค เขตบางแค, กรุงเทพฯ'), ('bkp105t', 'สำนักงานเขตบางขุนเทียน ริมถนนพระราม 2 เขตบางขุนเทียน, กรุงเทพฯ'), ('bkp112t', 'สำนักงานเขตบางคอแหลม (Mobile) เขตบางคอแหลม, กรุงเทพฯ'), ('bkp114t', 'สวนลุมพินี ถนนพระราม 4 แขวงวังใหม่ เขตปทุมวัน สวนลุมพินี เขตปทุมวัน'), ('bkp116t', 'สวนจตุจักร ถนนพหลโยธิน แขวงจตุจักร เขตจตุจักร สวนจตุจักร เขตจตุจักร'), ('bkp117t', 'สวนหลวง ร.9 ถนนเฉลิมพระเกียรติ ร.9 แขวงหนองบอน เขตประเวศ สวนหลวง ร.9 เขตประเวศ'), ('bkp118t', 'สวน 60 พรรษาสมเด็จพระนางเจ้าพระบรมราชินีนาถ ถนนเคหะร่มเกล้า เขตลาดกระบัง สวน 60 พรรษาสมเด็จพระนางเจ้าพระบรมราชินีนาถ เขตลาดกระบัง'), ('bkp119t', 'อุทยานเบญจสิริ อุทยานเบญจสิริ เขตคลองเตย'), ('bkp121t', 'สวนธนบุรีรมย์ สวนธนบุรีรมย์ เขตทุ่งครุ'), ('bkp120t', 'สวนรมณีย์ทุ่งสีกัน สวนรมณีย์ทุ่งสีกัน เขตดอนเมือง'), ('bkp122t', 'สวนเบญจกิติ สวนเบญจกิติ เขตคลองเตย'), ('bkp123t', 'สวนสมเด็จพระนางเจ้าสิริกิติ์ฯ สวนสมเด็จพระนางเจ้าสิริกิติ์ฯ เขตจตุจักร'), ('bkp124t', 'สวนเฉลิมพระเกียรติ 80 พรรษา สวนเฉลิมพระเกียรติ 80 พรรษา เขตบางกอกน้อย'), ('bkp126t', 'สวนบางแคภิรมย์ สวนบางแคภิรมย์ เขตบางแค'), ('bkp125t', 'สวนเสรีไทย สวนเสรีไทย เขตบึงกุ่ม'), ('bkp128t', 'สวนพระนคร สวนพระนคร เขตลาดกระบัง'), ('bkp127t', 'สวนทวีวนารมย์ สวนทวีวนารมย์ เขตทวีวัฒนา'), ('bkp129t', 'สวนหนองจอก สวนหนองจอก เขตหนองจอก'), ('bkp130t', 'สวนกีฬารามอินทรา สวนกีฬารามอินทรา เขตบางเขน'), ('bkp131t', 'สวนสาธารณะเฉลิมพระเกียรติ 6 รอบพระชนมพรรษา สวนสาธารณะเฉลิมพระเกียรติ 6 รอบพระชนมพรรษา เขตบางคอแหลม'), ('bkp133t', 'สวนหลวงพระราม 8 สวนหลวงพระราม 8 เขตบางพลัด'), ('bkp56t', 'สำนักงานเขตดินแดง กรุงเทพฯ ริมถนนวิภาวดีรังสิต, เขตดินแดง, กรุงเทพฯ'), ('bkp57t', 'สำนักงานเขตพระโขนง กรุงเทพฯ ริมถนนสุขุมวิท เขตพระโขนง, กรุงเทพฯ'), ('bkp58t', 'สำนักงานเขตราษฎร์บูรณะ กรุงเทพฯ ริมถนนราษฎร์บูรณะ, เขตราษฎร์บูรณะ, กรุงเทพฯ'), ('bkp59t', 'สำนักงานเขตราชเทวี กรุงเทพฯ ริมถนนพญาไท เขตราชเทวี, กรุงเทพฯ'), ('bkp60t', 'ริมสวนหย่อมตรงข้ามสำนักงานเขตดุสิต ริมถนนพระราม 5 เขตดุสิต, กรุงเทพฯ'), ('bkp62t', 'วงเวียนโอเดียน ริมถนนตรีมิตร วงเวียนโอเดียน์ เขตสัมพันธวงศ์, กรุงเทพฯ'), ('bkp61t', 'สำนักงานคณะกรรมการพัฒนาเศรษฐกิจและสังคมแห่งชาติ ริมถนนกรุงเกษม เขตป้อมปราบศัตรูพ่าย, กรุงเทพฯ'), ('bkp64t', 'สำนักงานเขตวังทองหลาง ริมถนนลาดพร้าว ซอยลาดพร้าว 95 เขตวังทองหลาง, กรุงเทพฯ'), ('bkp66t', 'ลานบางรักเลิฟลี่ พลาซ่า ริมถนนนราธิวาส เขตบางรัก, กรุงเทพฯ'), ('bkp67t', 'สำนักงานเขตสาทร แขวงทุ่งวัดดอน เขตสาทร, กรุงเทพฯ'), ('bkp69t', 'ธนาคารกรุงศรีอยุธยา สำนักงานใหญ่ ริมถนนพระราม 3 เขตยานนาวา, กรุงเทพฯ'), ('bkp70t', 'ริมถนนซอยสุขุมวิท 63 ริมถนนซอยสุขุมวิท 63 เขตวัฒนา, กรุงเทพฯ'), ('bkp65t', 'สามย่านมิตรทาวน์ ริมถนนพระรามที่ 4 หน้าสามย่านมิตรทาวน์ เขตปทุมวัน, กรุงเทพฯ'), ('bkp71t', 'สำนักงานเขตสวนหลวง ริมถนนพัฒนาการ เขตสวนหลวง, กรุงเทพฯ'), ('bkp72t', 'บิ๊กซี ซุปเปอร์เซ็นเตอร์ บางนา ริมถนนบางนา-ตราด เขตบางนา, กรุงเทพฯ'), ('bkp74t', 'สำนักงานเขตดอนเมือง เขตดอนเมือง, กรุงเทพฯ'), ('bkp73t', 'มหาวิทยาลัยเกษตรศาสตร์ ริมถนนพหลโยธิน แยก ม.เกษตรศาสตร์ เขตจตุจักร, กรุงเทพฯ'), ('bkp80t', 'สำนักงานเขตหนองจอก ริมถนนเลียบวารี เขตหนองจอก, กรุงเทพฯ'), ('bkp79t', 'สวนเฉลิมพระเกียรติ ร.9 ริมถนนสีหบุรานุกิจ เขตมีนบุรี, กรุงเทพฯ'), ('bkp81t', 'ซีคอน สแควร์ ริมถนนศรีนครินทร์ เขตประเวศ, กรุงเทพฯ'), ('bkp78t', 'โรงพยาบาลลาดกระบัง ริมถนนลาดกระบัง เขตลาดกระบัง, กรุงเทพฯ'), ('bkp77t', 'แยกสวนสยาม-รามอินทรา แยกสวนสยาม-รามอินทรา เขตคันนายาว, กรุงเทพฯ'), ('bkp82t', 'แยกมไหศวรรย์ ริมถนนรัชดาภิเษก-ท่าพระ เขตธนบุรี, กรุงเทพฯ'), ('bkp76t', 'สำนักงานเขตบางกะปิ ริมถนนนวมินทร์ แยกบางกะปิ เขตบางกะปิ, กรุงเทพฯ'), ('bkp75t', 'สำนักงานเขตสายไหม ริมถนนสุขาภิบาล5 เขตสายไหม, กรุงเทพฯ'), ('o26', 'สถานีพัฒนาที่ดิน ต.บางโทรัด อ.เมือง, สมุทรสาคร'), ('14t', 'แขวงการทางสมุทรสาคร  ต.อ้อมน้อย อ.กระทุ่มแบน, สมุทรสาคร'), ('18t', 'ศาลากลางจังหวัดสมุทรปราการ  ต.ปากน้ำ อ.เมือง, สมุทรปราการ'), ('17t', 'บ้านพักกรมอุตสาหกรรมพื้นฐานและการเหมืองแร่ ต.ตลาด อ.พระประแดง, สมุทรปราการ'), ('08t', 'ศูนย์ฟื้นฟูอาชีพคนพิการและทุพลภาพ  ต.ทรงคนอง อ.พระประแดง, สมุทรปราการ'), ('22t', 'มหาวิทยาลัยสุโขทัยธรรมาธิราช  ต.บางพูด อ.ปากเกร็ด, นนทบุรี'), ('13t', 'กรมควบคุมโรค ต.ตลาดขวัญ อ.เมือง, นนทบุรี'), ('20t', 'มหาวิทยาลัยกรุงเทพ วิทยาเขตรังสิต  ต.คลองหนึ่ง อ.คลองหลวง, ปทุมธานี'), ('81t', 'อ่างเก็บน้ำประปา ต.นครปฐม อ.เมือง, นครปฐม'), ('o10', 'เคหะชุมชนคลองจั่น แขวงคลองจั่น เขตบางกะปิ, กรุงเทพฯ'), ('bkp98t', 'สำนักงานเขตบางเขน ริมถนนพหลโยธิน เขตบางเขน, กรุงเทพฯ'), ('bkp97t', 'สำนักงานเขตหลักสี่ แขวงทุ่งสองห้อง เขตหลักสี่, กรุงเทพฯ'), ('bkp99t', 'สำนักงานเขตสะพานสูง เขตสะพานสูง, กรุงเทพฯ'), ('bkp95t', 'สำนักงานเขตบางซื่อ แขวงบางซื่อ เขตบางซื่อ, กรุงเทพฯ'), ('bkp93t', 'สำนักงานเขตห้วยขวาง เขตห้วยขวาง, กรุงเทพฯ'), ('27t', 'โรงเรียนสมุทรสาครวิทยาลัย ต.มหาชัย อ.เมือง, สมุทรสาคร'), ('16t', 'โรงไฟฟ้าพระนครใต้  ต.บางโปรง อ.เมือง, สมุทรปราการ'), ('bkp96t', 'สำนักงานเขตลาดพร้าว เขตลาดพร้าว, กรุงเทพฯ'), ('bkp92t', 'สำนักงานเขตพระนคร ริมถนนสามเสน เขตพระนคร, กรุงเทพฯ'), ('bkp91t', 'มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี ริมถนนประชาอุทิศ เขตทุ่งครุ, กรุงเทพฯ'), ('bkp89t', 'ริมถนนมาเจริญ เพชรเกษม 8, เขตหนองแขม ริมถนนมาเจริญ เพชรเกษม 81 เขตหนองแขม, กรุงเทพฯ'), ('bkp87t', 'ตลาดธนบุรีสนามหลวง 2 ริมถนนคลองทวีวัฒนา เขตทวีวัฒนา, กรุงเทพฯ'), ('bkp85t', 'สถานีตำรวจรถไฟบางกอกน้อย ริมถนนซอยนิคมบ้านพักรถไฟธนบุรี 5 เขตบางกอกน้อย, กรุงเทพฯ'), ('19t', 'การเคหะชุมชนเมืองใหม่บางพลี  ต.บางเสาธง อ.บางเสาธง, สมุทรปราการ'), ('o63', 'กรมอุตุนิยมวิทยาบางนา แขวงบางนา เขตบางนา, กรุงเทพฯ'), ('bkp90t', 'ตลาดบางบอน 5 ริมถนนเอกชัย เขตบางบอน, กรุงเทพฯ'), ('bkp88t', 'มหาวิทยาลัยสยาม ริมถนนเพชรเกษม เขตภาษีเจริญ, กรุงเทพฯ'), ('bkp86t', 'ถนนพุทธมณฑลสาย 1 ตัดกับถนนบรมราชชนนี ริมถนนพุทธมณฑล 1 เขตตลิ่งชัน, กรุงเทพฯ'), ('bkp94t', 'สำนักงานเขตคลองเตย แขวงคลองเตย เขตคลองเตย, กรุงเทพฯ'), ('bkp84t', 'สี่แยกท่าพระ ริมถนนแยกท่าพระ เขตบางกอกใหญ่, กรุงเทพฯ'), ('bkp83t', 'ห้องสมุดใต้สะพานสมเด็จพระเจ้าตากสิน ริมถนนเจริญนคร เขตคลองสาน, กรุงเทพฯ'), ('bkp63t', 'แฟลตทหารบก สามเสน ริมถนนพระราม 6 เขตพญาไท, กรุงเทพฯ')]

In [58]:
addr_df = pd.DataFrame({"Code": [d[0] for d in data], "Address": [d[1] for d in data]})
addr_df

      Code                                            Address
0      02t  มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา แขวงหิรัญ...
1      03t  ริมถนนทางหลวงหมายเลข 3902  ริมถนนกาญจนาภิเษก เ...
2      11t  การเคหะชุมชนห้วยขวาง  แขวงดินแดง เขตดินแดง, กร...
3      12t  โรงเรียนนนทรีวิทยา  แขวงช่องนนทรี เขตยานนาวา, ...
4      50t  โรงพยาบาลจุฬาลงกรณ์ ริมถนนพระราม 4 เขตปทุมวัน,...
..     ...                                                ...
87  bkp86t  ถนนพุทธมณฑลสาย 1 ตัดกับถนนบรมราชชนนี ริมถนนพุท...
88  bkp94t  สำนักงานเขตคลองเตย แขวงคลองเตย เขตคลองเตย, กรุ...
89  bkp84t  สี่แยกท่าพระ ริมถนนแยกท่าพระ เขตบางกอกใหญ่, กร...
90  bkp83t  ห้องสมุดใต้สะพานสมเด็จพระเจ้าตากสิน ริมถนนเจริ...
91  bkp63t  แฟลตทหารบก สามเสน ริมถนนพระราม 6 เขตพญาไท, กรุ...

[92 rows x 2 columns]

In [56]:
df = pd.read_csv("data.csv", index_col="No.")
df

,วันที่,ช่วงเวลา,02t,03t,11t,12t,50t,52t,53t,54t,...,bkp85t,19t,o63,bkp90t,bkp88t,bkp86t,bkp94t,bkp84t,bkp83t,bkp63t
No.,,,,,,,,,,,,,,,,,,,,,
1,2025-01-19,01:00,55.5,51.7,47.1,44.2,50.1,54.5,49.9,44.9,...,62.1,55.7,54.1,50.1,66.9,65.2,48.2,52.7,51.0,49.6
2,2025-01-19,02:00,60.3,56.6,48.1,48.1,54.0,60.7,55.5,55.1,...,63.8,45.9,55.0,52.6,63.1,64.1,51.5,55.2,52.0,54.7
3,2025-01-19,03:00,57.9,58.1,46.2,45.8,55.3,56.0,56.7,46.8,...,69.8,40.5,47.3,54.4,68.0,78.9,56.4,58.8,49.0,56.9
4,2025-01-19,04:00,55.2,55.3,40.3,43.1,48.6,55.1,45.5,40.5,...,77.6,43.4,45.2,53.2,69.1,73.7,50.8,60.2,45.0,56.1
5,2025-01-19,05:00,60.7,60.3,40.9,44.5,47.9,58.4,45.1,41.4,...,92.0,50.8,53.1,70.5,72.0,74.6,49.1,76.5,41.0,48.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,2025-02-18,10:00,25.5,27.2,24.9,24.9,28.7,25.0,29.9,28.7,...,26.3,24.3,24.9,27.1,21.0,20.2,17.1,52.6,25.0,21.9
731,2025-02-18,11:00,28.1,26.7,21.1,21.9,25.4,27.5,24.2,27.3,...,27.4,23.5,22.5,19.8,28.8,16.6,17.0,22.2,18.0,29.5
732,2025-02-18,12:00,NaN,24.3,20.2,20.9,25.0,25.1,24.3,24.1,...,26.5,23.7,20.6,NaN,25.1,35.4,16.1,22.1,20.0,28.1
733,2025-02-18,13:00,NaN,NaN,19.7,19.2,22.8,27.9,22.9,22.5,...,39.4,21.8,19.7,32.6,35.8,25.2,25.7,21.0,24.0,34.5
734,2025-02-18,14:00,27.2,NaN,43.6,16.6,NaN,23.8,27.1,38.3,...,30.0,22.5,NaN,17.9,29.1,19.7,19.1,30.2,30.0,28.5

In [60]:
set(df.columns) - set(addr_df["Code"])

{'ช่วงเวลา', 'วันที่'}

In [59]:
addr_df.to_csv("addr.csv")

# GG Maps

In [2]:
# from searching ggmaps

latlong = """13.732270034139988, 100.49019661013915
13.64266239252674, 100.40951885870435
13.776412629547957, 100.57227462249348
13.707316518238839, 100.54710407664216
13.732501175308526, 100.53608562517596
13.727629271972017, 100.48636253842766
13.795241631173145, 100.59336047487787
13.76424897480244, 100.55418390913223
13.780563379969387, 100.53816669999696
13.767794795973007, 100.61488132126624
13.785348142881684, 100.66962371112815
13.859923404314978, 100.70421625401409
13.677538264781825, 100.48420437372388
13.793917025550616, 100.50509354019971
13.696170556381729, 100.40918550886823
13.660745787898046, 100.43538613530497
13.692940676547616, 100.50253751610902
13.731396820124798, 100.54168766750337
13.807475432826136, 100.55544080423125
13.688285187285576, 100.66420264973102
13.762906646458692, 100.73229856528884
13.730625952537975, 100.56701088243307
13.651988943331771, 100.49140923814639
13.92892398923612, 100.56828152409064
13.729206597541904, 100.55856529633961
13.80747021142366, 100.55054696750472
13.771869886677802, 100.46816922517652
13.686236614152861, 100.38464406750269
13.787022429754296, 100.67442956114557
13.720897225251905, 100.78121077100867
13.744067922608632, 100.3523221046717
13.854354952957113, 100.85899185401402
13.87796553964069, 100.62045239634193
13.685333729243373, 100.51805384462183
13.769288293489213, 100.49497114644642
13.769794495943238, 100.5531496429193
13.7024355471977, 100.60201171077219
13.681918387063341, 100.50579538349284
13.759089002833003, 100.53425331168499
13.777087512633194, 100.52059869999883
13.73715465639877, 100.51300952541165
13.757321070935607, 100.51462927332265
13.764190443500476, 100.60582845544731
13.727400554519617, 100.53801819747062
13.708025700206113, 100.52631791708973
13.677104387330278, 100.5470411771613
13.730872481037077, 100.58641186039013
13.73376473089627, 100.52837210983101
13.730209478199653, 100.65138593567059
13.668583111823772, 100.63554879633863
13.9099859684027, 100.59468583002074
13.84809283870805, 100.57247905577394
13.85555388061001, 100.86251499403669
14.018947163937622, 100.53283415603872
13.694313939061653, 100.64830009633906
13.722386009319615, 100.7839739963395
13.795419247967999, 100.69124286750447
13.704736544891368, 100.48558000367392
13.765886885978022, 100.64737561536187
13.895195146067312, 100.66050299634223
13.519591323823668, 100.15046483681024
13.703998715694668, 100.32134216410884
13.599416486831805, 100.59692008284632
13.648659641923674, 100.5307762804777
13.665194562173186, 100.54325103866614
13.911327786553608, 100.53732006750623
13.853450382766201, 100.52715302338615
14.039504735515399, 100.6153583551934
13.829772364136586, 100.05491405926934
13.76810192780895, 100.64996160983156
13.873470413402885, 100.59606616750565
13.887518732233847, 100.57891693866968
13.76896298931156, 100.68570409634027
13.809568506184542, 100.53724074816866
13.776634286786729, 100.57933708964191
13.549425884571313, 100.26486846379338
13.62095063472224, 100.56055340534786
13.803557481562201, 100.60740542517706
13.764901789175257, 100.49876535105072
13.651241761036, 100.49643206750211
13.694330346603143, 100.34140629936455
13.746226529776683, 100.35482478099493
13.759902849476735, 100.47799449634013
13.559850157092113, 100.76448468284565
13.667797641007063, 100.60533760837363
13.638496607861033, 100.37226165215704
13.721312180636788, 100.45334086825365
13.7813449269961, 100.42638680713746
13.708162113566486, 100.58370619633924
13.729275153591944, 100.47335416750343
13.734761598205372, 100.49796136860671
13.782133536363506, 100.53270850215934"""

In [3]:
df = pd.read_csv("addr.csv", index_col="Unnamed: 0")
df

      Code                                            Address
0      02t  มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา แขวงหิรัญ...
1      03t  ริมถนนทางหลวงหมายเลข 3902  ริมถนนกาญจนาภิเษก เ...
2      11t  การเคหะชุมชนห้วยขวาง  แขวงดินแดง เขตดินแดง, กร...
3      12t  โรงเรียนนนทรีวิทยา  แขวงช่องนนทรี เขตยานนาวา, ...
4      50t  โรงพยาบาลจุฬาลงกรณ์ ริมถนนพระราม 4 เขตปทุมวัน,...
..     ...                                                ...
87  bkp86t  ถนนพุทธมณฑลสาย 1 ตัดกับถนนบรมราชชนนี ริมถนนพุท...
88  bkp94t  สำนักงานเขตคลองเตย แขวงคลองเตย เขตคลองเตย, กรุ...
89  bkp84t  สี่แยกท่าพระ ริมถนนแยกท่าพระ เขตบางกอกใหญ่, กร...
90  bkp83t  ห้องสมุดใต้สะพานสมเด็จพระเจ้าตากสิน ริมถนนเจริ...
91  bkp63t  แฟลตทหารบก สามเสน ริมถนนพระราม 6 เขตพญาไท, กรุ...

[92 rows x 2 columns]

In [4]:
lat = [float(i.split(", ")[0]) for i in latlong.split("\n")]
long = [float(i.split(", ")[1]) for i in latlong.split("\n")]

In [5]:
df["latitude"] = lat
df["longitude"] = long
df.rename(columns={"Code": "sensor_id"}, inplace=True)
df

,sensor_id,Address,latitude,longitude
0,02t,มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา แขวงหิรัญ...,13.732270,100.490197
1,03t,ริมถนนทางหลวงหมายเลข 3902 ริมถนนกาญจนาภิเษก เ...,13.642662,100.409519
2,11t,"การเคหะชุมชนห้วยขวาง แขวงดินแดง เขตดินแดง, กร...",13.776413,100.572275
3,12t,"โรงเรียนนนทรีวิทยา แขวงช่องนนทรี เขตยานนาวา, ...",13.707317,100.547104
4,50t,"โรงพยาบาลจุฬาลงกรณ์ ริมถนนพระราม 4 เขตปทุมวัน,...",13.732501,100.536086
...,...,...,...,...
87,bkp86t,ถนนพุทธมณฑลสาย 1 ตัดกับถนนบรมราชชนนี ริมถนนพุท...,13.781345,100.426387
88,bkp94t,"สำนักงานเขตคลองเตย แขวงคลองเตย เขตคลองเตย, กรุ...",13.708162,100.583706
89,bkp84t,"สี่แยกท่าพระ ริมถนนแยกท่าพระ เขตบางกอกใหญ่, กร...",13.729275,100.473354
90,bkp83t,ห้องสมุดใต้สะพานสมเด็จพระเจ้าตากสิน ริมถนนเจริ...,13.734762,100.497961
91,bkp63t,"แฟลตทหารบก สามเสน ริมถนนพระราม 6 เขตพญาไท, กรุ...",13.782134,100.532709

In [14]:
df.to_csv("addr_latlong.csv", index=True, index_label="index")